@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
    font-family: "Open Sans", sans-serif;
}

.bg-primary {
    background-color: #ff2c04;
}

.color-primary {
    color: #ff2c04;
}

.bg-secondary {
    background-color: #e7c28b;
}

.color-secondary {
    color: #e7c28b;
}
