@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
    font-family: "Open Sans", sans-serif;
}

.bg-primary {
    background-color: #ff2c04;
}

.color-primary {
    color: #ff2c04;
}

.bg-secondary {
    background-color: #e7c28b;
}

.color-secondary {
    color: #e7c28b;
}

.bg-price-label {
    background-color: #ff7300;
}

#table tr {
    text-align: left;
}
#table .row:nth-child(even) {
    background-color: #f3f3f3;
}
#table th, td {
    padding: 15px;
  }